version: "3.9"

services:
  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile.api
    environment:
      - PORT=8000
    expose:
      - "8000"
  ui:
    build:
      context: ..
      dockerfile: docker/Dockerfile.ui
    environment:
      - PORT=8501
      - API_BASE_URL=http://api:8000
    ports:
      - "8501:8501"
    depends_on:
      - api
